{% extends 'front/base.html.twig' %}

{% block title %}Pokecars
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-between">
			<h1 class="mt-3 mb-4">Listes de toutes les annonces</h1>
			<a class="btn btn-primary h-50 my-auto" href="{{ path('app_detail_listing') }}">
				Voir details
			</a>
			<a class="btn btn-primary h-50 my-auto" href="{{ path('app_brand_index') }}">
				Voir marques
			</a>
			<a class="btn btn-primary h-50 my-auto" href="{{ path('app_model_index') }}">
				Voir models
			</a>
		</div>
		<div class="row">
			{% for list in listings %}
				<a class="card-game">
					<div class="container-image ">
						<img src="https://www.geekqc.ca/wp-content/uploads/2016/07/bulbaghini-192672.jpg" alt="voiture pokemon">
						<div class="container-price">
							<h1>{{ list.title }}</h1>
						</div>
					</div>
					<div class="card-infos">
						<p>{{ list.price }}
							€</p>
						<p>
							Année :{{ list.producedYear }}</p>

					</div>
				</a>
			{% endfor %}
		</div>

	{% endblock %}
