<!DOCTYPE html>

<title>Tableau des models</title>

{% block body %}
	<h1>Models</h1>

	<div class="container">
		<div class="d-flex justify-content-between">
			<a class="btn btn-primary h-50 my-auto" href="{{ path('app_home') }}">
				Retour
			</a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for model in models %}
					<tr>
						<td>{{ model.id }}</td>
						<td>{{ model.name }}</td>
						<td>{{ model.description }}</td>
						<td>
							<a href="{{ path('app_model_show', {'id': model.id}) }}">voir</a>
							<a href="{{ path('app_model_edit', {'id': model.id}) }}">editer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_model_new') }}">ajouter nouveau model</a>
	{% endblock %}
